:root {
  --main-background-color: #bfb9cf;
  --heading-font-family: "Playfair", serif;
  --main-font-family: "Poppins", sans-serif;
  --secondary-color: rgb(116, 94, 242);
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 96px;
  font-style: bold;
  line-height: 2;
}
h2 {
  font-family: var(--main-font-family);
  font-weight: 36px;
  font-style: bold;
}

.homePage a {
  font-family: var(--main-font-family);
  font-weight: 18px;
  font-style: bold;
  background-color: var(--secondary-color);
}
.homePage p {
  font-family: var(--main-font-family);
  font-weight: 24px;
  font-style: bold;
  margin: 10pz;
}
.homePage {
  background-color: var(--main-background-color);
  text-align: center;
  padding: 160px 20px;
}
