:root {
  --main-headerbackground-color: rgb(30, 28, 36, 0.8);
  --heading-font-family: "Playfair", serif;
  --main-font-family: "Poppins", sans-serif;
  --secondary-color: rgb(236, 236, 240);
  --main-button-background-color: rgb(163, 14, 153);
}

body {
  color: rgb(0, 0, 0);
}

p {
  font-family: var(--main-font-family);
  font-weight: 16px;
  font-style: normal;
  line-height: 2;
}
h2 {
  font-family: var(--heading-font-family);
  font-size: 54px;
  font-style: bold;
}

.homePage h1 {
  color: var(--secondary-color);
  font-family: var(--heading-font-family);
  font-weight: 96px;
  font-style: bold;
  line-height: 2;
}
.homePage h2 {
  color: var(--secondary-color);
  font-family: var(--main-font-family);
  font-weight: 36px;
  font-style: bold;
}

.homePage p {
  color: var(--secondary-color);
  font-family: var(--main-font-family);
  font-weight: 24px;
  font-style: bold;
  margin: 10pz;
}

.homePage {
  background-color: var(--main-headerbackground-color);
  text-align: center;
  padding: 160px 20px;
}

.myPicture {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 4px solid var(--secondary-color);
}

.btn-outline-primary {
  color: var(--main-button-background-color) !important;
  border: 1px solid;
  border-color: var(--main-button-background-color);
  border-radius: 4px;
  font-size: 16px;
  line-height: 27px;
  padding: 15px 15px;
  text-decoration: none;
  display: block;
  width: fit-content;
  margin: 0 auto;
}
.btn-outline-primary:hover {
  background-color: var(--main-button-background-color);
  color: var(--secondary-color) !important;
  border-color: var(--main-button-background-color);
}
.btn-primary {
  color: var(--secondary-color);
  border-color: var(--main-button-background-color);
  width: fit-content;
  padding: 15px 15px;
  background-color: var(--main-button-background-color);
}
.btn-primary:hover {
  background-color: var(--secondary-color);
  color: var(--main-button-background-color);
  border-color: var(--main-button-background-color);
}
.homePage a {
  background-color: var(--main-button-background-color) !important;
  color: var(--secondary-color) !important;
  font-size: 18px !important;
  font-weight: normal !important;
  padding: 15px 30px !important;
}
.homepageText {
  padding: 20px 60px;
}

.aboutPage h1 {
  font-family: var(--heading-font-family);
  font-size: 42px;
  font-weight: bold;
  line-height: 1;
}
.aboutPagetitle {
  font-family: var(--main-font-family);
  font-size: 18px;
  font-weight: bold;
  line-height: 2;
}
@media (max-width: 900px) {
  .homepageText {
    padding: 0 20px;
    text-align: center;
  }

  .homePage {
    padding: 50px 20px;
  }

  .main-container {
    text-align: center;
  }
  .main-container img {
    padding: 0 !important;
    margin-top: 0 !important;
  }
}
.projectsPageHeader h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
  line-height: 1;
  text-align: centre;
  margin: 40px 20px;
}
.projectsPageHeader h2 {
  font-family: var(--main-font-family);
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
  text-align: center;
}
h4 {
  font-family: var(--main-font-family);
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
}
.projectsPageHeader {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
  line-height: 1;
  min-width: 700px;
}
.project-title {
  font-family: var(--main-font-family);
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
  text-align: center;
}
