:root {
  --main-background-color: #1e1c24;
  --heading-font-family: "Playfair", serif;
  --main-font-family: "Poppins", sans-serif;
  --secondary-color: rgb(236, 236, 240);
  --main-button-background-color: rgb(163, 14, 153);
  --main-button-text-color: rgb(255, 255, 255);
}

body {
  color: rgb(255, 255, 255);
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 96px;
  font-style: bold;
  line-height: 2;
}
h2 {
  font-family: var(--main-font-family);
  font-weight: 36px;
  font-style: bold;
}
a {
  background-color: var(--main-button-background-color) !important;
  color: var(--main-button-text-color) !important;
}

.homePage a {
  font-family: var(--main-font-family);
  font-weight: 18px;
  font-style: bold;
  background-color: var(--secondary-color);
}
.homePage p {
  font-family: var(--main-font-family);
  font-weight: 24px;
  font-style: bold;
  margin: 10pz;
}
.homePage {
  background-color: var(--main-background-color);
  text-align: center;
  padding: 160px 20px;
}
.myPicture {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 20px;
  margin-top: 30px;
}
